aiohttp
post
async-timeout
attrs
backoff
certifi
chardet
click
cycler
Flask
idna
ipykernel
itsdangerous
Jinja
jupyter-client
jupyter-core
kiwisolver
MarkupSafe
matplotlib
mkl-fft
mkl-random
mkl-service
multidict
nest-asyncio
numpy
olefile
Pillow
pip
pyparsing
python-dateutil
pyzmq
requests
setuptools
post
sip
six
spotify
spotipy
tabulate
tornado
typing-extensions
urllib
Werkzeug
wheel
yarl
